@import '../../sass/variable';
.layer{
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	z-index:998;
	background-color:$black;
	opacity:.8;
}
.layer-comtent{
	position:fixed;
	top:50%;
	left:50%;
	z-index:999;
	@include transform(translate(-50%,-50%));
	background-color:$white;
	p{
		font:.75rem/1.5 $publicFont;
	}
}