.wrapper{
	position:relative;
	width:100%;
	max-width:640px;
	height:auto;
	min-height: 100%;
	margin:0 auto;
	overflow:hidden;
	background-color:#fff;
}
.header{
	height:11rem;
}
.changeImg{
	position:relative;
	width:100%;
	>img{
		width:100%;
	}
	.rule{
		position:absolute;
		top:0;
		right:6%;
		width:1.5rem;
		height:1.5rem;
		img{
			width:100%;
		}
	}
	.change{
		position: absolute;
	    top: 20%;
	    left: 2%;
	    width: 94%;
	    height: auto;
		height:auto;
		.allImg{
			    width: 97%;
			    height: auto;
			    background: #fff;
			    border-radius: 5px;
			    overflow: hidden;
			    margin: 0 0 0 2%;
			.img{
				font-size:0;
				display:none;
				padding:.5%;
				img{
					width:100%;
					border-radius:5px;
				}
			}
		}
	}
}
